RewriteEngine on
RewriteRule ^home index.php [NC]
RewriteRule ^about about.php [NC]
RewriteRule ^services services.php [NC]
RewriteRule ^login admin.php [NC]

RewriteRule ^search_team search_team.php [NC]
RewriteRule ^contact contact.php [NC]
RewriteRule ^blog blog.php [NC]
RewriteRule ^upload_mental upload_mental.php [NC]
RewriteRule ^meet meet.php [NC]
RewriteRule ^meet meet.php [NC]
RewriteRule ^emergency emergency.php [NC]
RewriteRule ^checkup checkup.php [NC]
RewriteRule ^question question.php [NC]
RewriteRule ^tips tips.php [NC]
RewriteRule ^tip tip.php [NC]
RewriteRule ^admin_checkup admin_checkup.php [NC]
RewriteRule ^display_team display_team.php [NC]
RewriteRule ^admin_booking admin_booking.php [NC]
RewriteRule ^dashboard dashboard.php [NC]
RewriteRule ^admin_team admin_team.php [NC]
RewriteRule ^upload_team upload_team.php [NC]
RewriteRule ^admin_team admin_team.php [NC]
RewriteRule ^activites activites.php [NC]
RewriteRule ^admin_healthy_eating admin_healthy_eating.php [NC]
RewriteRule ^upload_eating upload_eating.php [NC]
RewriteRule ^display_eating display_eating.php [NC]
RewriteRule ^logout logout.php [NC]
RewriteRule ^post_eating post_eating.php [NC]
RewriteRule ^admin_mental_health admin_mental_health.php [NC]
RewriteRule ^mental_post mental_post.php [NC]
RewriteRule ^login admin.php [NC]
RewriteRule ^display_mental display_mental.php [NC]
RewriteRule ^display_article display_article.php [NC]
RewriteRule ^post_mental post_mental.php [NC]
RewriteRule ^admin_information admin_information.php [NC]
RewriteRule ^delete_team delete_team.php [NC]
RewriteRule ^upload_information upload_information.php [NC]
RewriteRule ^display_information display_information.php [NC]
RewriteRule ^post_information post_information.php [NC]
RewriteRule ^admin_activites admin_activites.php [NC]
RewriteRule ^admin_activites admin_activites.php [NC]
RewriteRule ^display_activites display_activites.php [NC]
RewriteRule ^upload_activites upload_activites.php [NC]
RewriteRule ^post_activites post_activites.php [NC]
RewriteRule ^mental mental.php [NC]
RewriteRule ^healthy_eating healthy_eating.php [NC]
RewriteRule ^admin_emergency admin_emergency.php [NC]
RewriteRule ^upload_emergency upload_emergency.php [NC]
RewriteRule ^post_emergency post_emergency.php [NC]
RewriteRule ^display_emergency display_emergency.php [NC]
RewriteRule ^admin-tips admin-tips.php [NC]
RewriteRule ^upload_tips upload_tips.php [NC]
RewriteRule ^display_tips display_tips.php [NC]
RewriteRule ^post_tips post_tips.php [NC]
RewriteRule ^information information.php [NC]
RewriteRule ^article_information article_information.php [NC]
RewriteRule ^article_mental article_mental.php [NC]
RewriteRule ^myactivites myactivites.php [NC]
RewriteRule ^article_activites article_activites.php [NC]
RewriteRule ^article_activites article_activites.php [NC]
RewriteRule ^myemergency myemergency.php [NC]
RewriteRule ^display_emergency display_emergency.php [NC]
RewriteRule ^display_myemergency display_myemergency.php [NC]


